body {
  font-family: 'Raleway', sans-serif;
  background-image: url("images/shiplapbackground.jpg");
  background-size: auto;
  background-repeat: no-repeat;
}

.text-div {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color:rgba(147, 146, 247, 0.5);
  color: black;
  margin-bottom: 150px;
  margin-left: 550px;
  height: 325px;
  width: 275px;
  position: absolute;
  text-align: center;
  line-height: 30px;
  font-size: 28px;
  padding: 10px;
  z-index: 2;
  border-radius: 5px;
}

#cafe-room-pic {
  margin-top: -10px;
  margin-left: 865px;
  position: absolute;
  z-index: 2;
}

#chia-pudding-pic {
  margin-left: 540px;
  margin-top: 230px;
  position: relative;
  z-index: -1;
}

#avocado-toast-pic {
  margin-top: 5px;
  position: absolute;
  margin-left: 210px;
  z-index: -1;
}

#comfy-couch-pic {
  position: static;
  margin-top: 30px;
  margin-left: -580px;
  z-index: 1;
}

.small-pic {
  height: 200px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 5px 10px 18px #575757;
}

.medium-pic {
  height: 225px;
  width: 375px;
  border-radius: 5px;
  box-shadow: 5px 10px 18px #888888;
}

.large-pic {
  height: 350px;
  width: 600px;
  border-radius: 5px;
  box-shadow: 5px 10px 18px #888888;
}

.logo-div {
  margin-left: 500px;
}

#farmriver-logo {
  height: 375px;
  width: 475px;
}

.nav-div {
  list-style-type: none;
  margin-left: 200px;
}

.nav-div li {
  display: inline-block;
}

.nav-div a {
  padding: 60px;
  color: black;
  text-decoration: none;
  font-size: 36px;
}

li:not(:last-child) { 
  border-right: solid 1px black;
}

.footer-div {
  list-style-type: none;
  margin-left: 200px;
}

.footer-div li {
  display: inline-block;
  padding: 60px;
}

.footer-div a {
  padding: 40px;
  color: black;
  text-decoration: none;
  font-size: 18px;
}

.footer-div h2 {
  margin-top: 10px;
}
/*.address {
  margin-top: 300px;
  text-align: center;
  line-height: 10px;
  font-size: 20px;
}*/
