body {
  font-family: 'Raleway', sans-serif;
  background-image: url("images/shiplapbackground.png");
  background-size: auto;
  background-repeat: no-repeat;
}

.text-div {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color:rgba(147, 146, 247, 0.5);
  color: black;
  margin-bottom: 150px;
  margin-left: 630px;
  height: 345px;
  width: 276px;
  position: absolute;
  text-align: justify;
  line-height: 30px;
  font-size: 28px;
  padding: 10px;
  z-index: 2;
  border-radius: 5px;
}

#cafe-room-pic {
  height: 246px;
  width: 319px;
  margin-left: 945px;
  position: absolute;
  z-index: 2;
}

#chia-pudding-pic {
  height: 422px;
  width: 637px;
  margin-left: 645px;
  margin-top: 300px;
  position: relative;
  z-index: -2;
}

#avocado-toast-pic {
  height: 318px;
  width: 398px;
  position: absolute;
  margin-left: 290px;
  z-index: -1;
}

#comfy-couch-pic {
  height: 260px;
  width: 360px;
  position: static;
  margin-top: 100px;
  margin-left: -335px;
  z-index: 1;
}

.pic {
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 5px 10px 18px #575757;
}


.logo-div {
  margin-left: 520px;
  margin-top: 20px;
}

#farmriver-logo {
  height: 355px;
  width: 455px;
}

.nav-div {
  list-style-type: none;
  margin-left: 100px;
}

.nav-div li {
  display: inline-block;
}

.nav-div a {
  padding: 60px;
  color: black;
  font-weight: 500;
  text-decoration: none;
  font-size: 36px;
}

li:not(:last-child) { 
  border-right: solid 1px black;
}

#homepage-collage {
  margin-bottom: 100px;
}

.footer-div {
  list-style-type: none;
  margin-left: 300px;
}

.footer-div li {
  display: inline-block;
  font-size: 14px;
  padding: 60px;
}

.footer-div a {
  padding: 40px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
}

#follow {
  margin-bottom: 30px;
}

#hours {
  margin-bottom: 22px;
}

#facebook-logo {
  display: block;
  padding-bottom: 5px;
  margin-top: 15px;
  margin-right: 5px;
  height: 24px;
  width: 24px;
}

#instagram-logo {
  display: block;
  margin-top: 15px;
  margin-right: 5px;
  height: 24px;
  width: 24px;
}

.contact-form {
  margin-top: 550px;
}

#map {
  margin-top: 80px;
  margin-left: 462px;
  margin-bottom: -50px;
  background-color: grey;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.input-block {
  margin-left: 460px;
}

form input {
  color: black;
  display: block;
  margin-bottom: 10px;
  width: 285px;
  height: 20px;
  box-shadow: 3px 3px 7px #575757;
}

#message-box {
  height: 90px;
  margin-right: -20px;
  box-shadow: 3px 3x 7px #575757;
}

#form-button {
  margin-top: 10px;
  margin-left: 1020px;
  display: inline-block;
  box-shadow: 5px 10px 8px #575757;
}

#crafts-text-div {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 28px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.one-pic {
  height: 332px;
  width: 332px;
  object-fit: cover;
  z-index: -1;
  border-radius: 5px;
  box-shadow: 5px 10px 18px #575757;
}

.two-pic {
  height: 386px;
  width: 293px;
  object-fit: cover;
  z-index: 2;
  border-radius: 5px;
  box-shadow: 5px 10px 18px #888888;
}

.three-pic {
  height: 248px;
  width: 372px;
  object-fit: cover;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 5px 10px 18px #888888;
}

.four-pic {
  height: 394px;
  width: 295px;
  object-fit: cover;
  z-index: -1;
  border-radius: 5px;
  box-shadow: 5px 10px 18px #575757;
}

.five-pic {
  height: 207px;
  width: 309px;
  object-fit: cover;
  z-index: -1;
  border-radius: 5px;
  box-shadow: 5px 10px 18px #888888;
}

.six-pic {
  height: 306px;
  width: 298px;
  object-fit: cover;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 5px 10px 18px #888888;
}

.seven-pic {
  height: 215px;
  width: 261px;
  object-fit: cover;
  z-index: -1;
  border-radius: 5px;
  box-shadow: 5px 10px 18px #575757;
}

.eight-pic {
  height: 378px;
  width: 381px;
  object-fit: cover;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 5px 10px 18px #888888;
}

.nine-pic {
  height: 306px;
  width: 372px;
  object-fit: cover;
  z-index: 2;
  position: relative;
  margin-top: 100px;
  margin-left: 500px;
  border-radius: 5px;
  box-shadow: 5px 10px 18px #888888;
}