body {
  font-family: 'Raleway', sans-serif;
  background-image: url("images/shiplapbackground.png");
  background-size: auto;
  background-repeat: no-repeat;
}

.text-div {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color:rgba(147, 146, 247, 0.5);
  color: black;
  margin-bottom: 150px;
  margin-left: 630px;
  height: 345px;
  width: 276px;
  position: absolute;
  text-align: justify;
  line-height: 30px;
  font-size: 28px;
  padding: 10px;
  z-index: 2;
  border-radius: 5px;
}

#cafe-room-pic {
  height: 246px;
  width: 319px;
  margin-left: 945px;
  position: absolute;
  z-index: 2;
}

#chia-pudding-pic {
  height: 422px;
  width: 637px;
  margin-left: 645px;
  margin-top: 300px;
  position: relative;
  z-index: -2;
}

#avocado-toast-pic {
  height: 318px;
  width: 398px;
  position: absolute;
  margin-left: 290px;
  z-index: -1;
}

#comfy-couch-pic {
  height: 260px;
  width: 360px;
  position: static;
  margin-top: 100px;
  margin-left: -335px;
  z-index: 1;
}

.pic {
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 5px 10px 18px #575757;
}


.logo-div {
  margin-left: 520px;
  margin-top: 20px;
}

#farmriver-logo {
  height: 355px;
  width: 455px;
}

.nav-div {
  list-style-type: none;
  margin-left: 100px;
}

.nav-div li {
  background-color: rgb(257, 257, 257, 0.5);
  display: inline-block;
}

.nav-div a {
  padding: 60px;
  color: black;
  font-weight: 500;
  text-decoration: none;
  font-size: 36px;
}

li:not(:last-child) { 
  border-right: solid 1px black;
}

#homepage-collage {
  margin-bottom: 100px;
}

.footer-div {
  list-style-type: none;
  margin-top: 275px;
  margin-left: 300px;
}

.footer-div li {
  background-color: rgb(257, 257, 257, 0.5);
  display: inline-block;
  font-size: 14px;
  padding: 60px;
  text-align: center;
}

.footer-div a {
  padding: 40px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
  height: 250px;
}

#follow {
  margin-bottom: 30px;
}

#hours {
  margin-bottom: 22px;
}

#facebook-logo {
  display: block;
  padding-bottom: 5px;
  margin-top: 15px;
  margin-right: 5px;
  height: 24px;
  width: 24px;
}

#instagram-logo {
  display: block;
  margin-top: 15px;
  margin-right: 5px;
  height: 24px;
  width: 24px;
}

.contact-form {
  margin-top: 550px;
}

#map {
  margin-top: 80px;
  margin-left: 462px;
  margin-bottom: -50px;
  background-color: grey;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.input-block {
  margin-left: 460px;
}

form input {
  color: black;
  display: block;
  margin-bottom: 10px;
  width: 285px;
  height: 20px;
  box-shadow: 3px 3px 7px #575757;
}

#message-box {
  height: 90px;
  margin-right: -20px;
  box-shadow: 3px 3x 7px #575757;
}

#form-button {
  margin-top: 10px;
  margin-left: 1020px;
  display: inline-block;
  box-shadow: 5px 10px 8px #575757;
}

#crafts-collage {
  margin-left: calc((100% - 980px) / 2);
  margin-bottom: 50px;
  width: 980px;
  position: static;
  display: grid;
  height: auto;
  min-height: 500px;
  grid-template-rows: min-content min-content min-content min-content min-content min-content 1fr;
  grid-template-columns: 100%;
  padding-bottom: 0px;
  box-sizing: border-box;
}

#crafts-text-div {
  margin-top: 100px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 28px;
  text-align: center;
}

.one-pic {
  position: relative;
  margin: 11px 0px -144px calc((100% - 980px) * 0.5);
  left: 5px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
  height: 332px;
  width: 332px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 5px 10px 18px #575757;
}

.two-pic {
  position: relative;
  margin: 0px 0px -94px calc((100% - 980px) * 0.5);
  left: 595px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
  height: 386px;
  width: 293px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 5px 10px 18px #888888;
}

.three-pic {
  position: relative;
  margin: 0px 0px -23px calc((100% - 980px) * 0.5);
  left: 276px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
  height: 248px;
  width: 372px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 5px 10px 18px #888888;
}

.four-pic {
  position: relative;
  margin: 110px 0px -50px calc((100% - 980px) * 0.5);
  left: 587px;
  grid-area: 2 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
  height: 394px;
  width: 295px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 5px 10px 18px #575757;
}

.five-pic {
  position: relative;
  margin: 0px 0px -77px calc((100% - 980px) * 0.5);
  left: 45px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
  height: 207px;
  width: 309px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 5px 10px 18px #888888;
}

.six-pic {
  position: relative;
  margin: 0px 0px -143px calc((100% - 980px) * 0.5);
  left: 348px;
  grid-area: 5 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;
  height: 306px;
  width: 298px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 5px 10px 18px #888888;
}

.seven-pic {
  position: relative;
  margin: 10px 0px -20px calc((100% - 980px) * 0.5);
  left: 45px;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: start;
  align-self: start;
  height: 215px;
  width: 261px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 5px 10px 18px #575757;
}

.eight-pic {
  position: relative;
  margin: 0px 0px 0 calc((100% - 980px) * 0.5);
  left: 256px;
  grid-area: 7 / 1 / 8 / 2;
  justify-self: start;
  align-self: start;
  height: 378px;
  width: 381px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 5px 10px 18px #888888;
}

.nine-pic {
  position: relative;
  margin: 0px 0px -101px calc((100% - 980px) * 0.5);
  left: 608px;
  grid-area: 6 / 1 / 7 / 2;
  justify-self: start;
  align-self: start;
  height: 306px;
  width: 372px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 5px 10px 18px #888888;
}

video {
  display: inline-block;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
  height: 450px;
}

#video-div {
  width: 100%;
  text-align: center;
}

#openmic-text-div {
  margin-top: 100px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 28px;
  text-align: center;
}

#menu-text {
  text-align: center;
}

#menu-photo {
  margin-left: 475px;
  width: 600px;
  height: 1000px;
}

.dessert-pic {
  object-fit: cover;
  margin-right: 20px;
  height: 300px;
  width: 400px;
}

#stephanie-pic {
  margin: 25px;
  object-fit: cover;
  text-align: center;
  height: 400px;
  width: 300px;
}

#desserts-div{
  text-align: center;
}

#desserts-images-div {
  margin-top: 100px;
  text-align: center;
}

.font-bold {
  font-weight: 500;
}